.chronicle, .dungeon {
	#hero2 { // chronicle dungeon map
		#dmap {
			.dml {
				.dmc { // map cell. default: known cell
					opacity: 1;
					&.e_clickable {
						background-color: $var-bg-color-dark;
					}
					&.dmw {
						background-color: $var-bg-color-light;
					}
					&.notAWall {
						background-color: $var-bg-color-content;
						opacity: .7;
					}
					&.absolutelyUnknown {
						filter: blur(.55px);
						opacity: .4;
					}
					&.pointerMarker {
						color: green;
					}
					&.bossHint {
						background: #ffce09;
						color: $var-bg-color;
					}
					&.boss {
						background: #fa8700;
						color: $var-bg-color;
					}
					&.bonusGodpower {
						background: #c5e0f3;
						color: $var-bg-color;
					}
					&.bonusHealth {
						background: #b9edbe;
						color: $var-bg-color;
					}
					&.trapUnknown {
						background: #c173da;
						color: $var-bg-color;
					}
					&.trapTrophy, &.trapGold {
						background: #dee0c0;
						color: $var-bg-color;
					}
					&.trapLowDamage {
						background: #e7afaf;
						color: $var-bg-color;
					}
					&.trapModerateDamage {
						background: #cb555b;
						color: $var-bg-color;
					}
					&.trapMoveLoss {
						background: #aaaaaa;
						color: $var-bg-color;
					}
					&.treasureChest {
						background: #66cbff;
						color: $var-bg-color;
					}
				}
			}
		}
		.trace_buttons {
			.trace_button {
				background: $var-bg-color-light;
				color: $var-font-color;
				cursor: pointer;
				border: none;
				img {
					filter: invert(1);
				}
				&:hover {
					border: 1px solid $var-link-color-hover !important;
				}
			}
		}
	}

	#arena_columns { // realtime dungeon map
		#map {
			.dml {
				.dmc { // map cell. default: known cell
					background-color: $var-bg-color-dark;
					opacity: 1;
					&.dmw {
						background-color: $var-bg-color-light;
					}
					&.notAWall {
						background-color: $var-bg-color-content;
						opacity: .7;
					}
					&.absolutelyUnknown {
						filter: blur(.55px);
						opacity: .4;
					}
					&.pointerMarker {
						color: green;
					}
					&.bossHint {
						background: #ffce09;
						color: $var-bg-color;
					}
					&.boss {
						background: #fa8700;
						color: $var-bg-color;
					}
					&.bonusGodpower {
						background: #c5e0f3;
						color: $var-bg-color;
					}
					&.bonusHealth {
						background: #b9edbe;
						color: $var-bg-color;
					}
					&.trapUnknown {
						background: #c173da;
						color: $var-bg-color;
					}
					&.trapTrophy, &.trapGold {
						background: #dee0c0;
						color: $var-bg-color;
					}
					&.trapLowDamage {
						background: #e7afaf;
						color: $var-bg-color;
					}
					&.trapModerateDamage {
						background: #cb555b;
						color: $var-bg-color;
					}
					&.trapMoveLoss {
						background: #aaaaaa;
						color: $var-bg-color;
					}
					&.treasureChest {
						background: #66cbff;
						color: $var-bg-color;
					}
				}
			}
		}
	}

	#send_to_LEM {
		background: $var-bg-color-light;
		cursor: pointer;
		display: block;
		height: initial !important;
		margin: 15px auto;
		padding: 10px 20px;
		width: initial !important;
		border: 1px solid transparent;
		color: $var-font-color;
		transition: all ease 250ms;
		&:hover {
			border: 1px solid $var-link-color-hover !important;
			color: $var-link-color-hover !important;
		}
	}

	label[for="teleports"], label[for="stoneeater"] {
		color: $var-font-color;
	}
}

