.edst_headline {
	border: none !important;
}

.edst_towns {
	.e_shifted_town {
		background-color: transparent !important;
		color: white;
		font-weight: bold;
		&:hover {
			background-color: transparent !important;
		}
	}
}
