.popover {
	background-color: $var-bg-color-content;
	border: 1px solid $var-border-color;
	border-radius: 0;
	> .triangle {
		border-bottom: 10px solid $var-bg-color-light;
	}
	> .header {
		margin: 0 20px;
		text-shadow: none;
	}
	> .triangle {
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid transparent;
		top: -20px;
	}
	.chf_line {
		background-color: $var-bg-color-content;
		border-color: $var-border-color-dark;
	}
	.wup-title {
		background: #252525;
		border-bottom: 1px solid #f9b436;
		border-radius: 0;
		font-weight: 500;
		margin: 0 40px 10px;
	}
	div.edst_line {
		background-color: #252525;
		border-color: #252525;
	}
}

.chf_line {
	border-color: $var-border-color;
	margin: 0 5px;
	transition: color ease 250ms;
	&:hover {
		background-color: transparent;
		color: $var-link-color-hover !important;
	}
}

#logger {
	top: 40px;
}
