#hmap {
	.tmap {
		stroke: $var-prana-color;
	}
	circle { // city circle
		transform: scale(1.3);
		fill: $var-bg-color-content;
		stroke: transparent;
	}
	text { // city name
		font-size: 16px;
		fill: $var-font-color;
	}
	.loc_dir path { // hero arrow
		transform: scale(1.5);
		fill: $var-health-color;
		stroke: none;
	}
	.poi circle { // point of interest
		fill: $var-link-color-hover;
	}
	.sl circle { // point of interest
		stroke: $var-health-color;
	}
	.hmap_info {
		border-radius: 0;
		background-color: $var-bg-color-dark;
	}
}
