// THIRD EYE
.wup {
	.tep {
		max-width: 600px;
	}
	.line {
		border-top: 1px solid $var-border-color-dark;
		margin-left: 10px;
		margin-right: 10px;
		.d_msg {
			color: $var-font-color;
		}
		.diary_cs_t {
			background-color: $var-bg-color-content;
		}
		.d_time {
			background-color: transparent !important;
		}
		&.d_imp { // important event
			font-weight: 500;
		}
	}
}

// VOICES EDITOR + CONFIG POPUP
.mfp-wrap {
	.s_popup {
		background-color: $var-bg-color-content;
		border: 1px solid $var-border-color;
		border-radius: 0;
		color: $var-font-color;
		h2 {
			color: $var-hl-color;
		}
	}
	&.mfp-close-btn-in .mfp-close {
		color: $var-font-color;
	}
}

// TRAINING
.wup {
	.chf_line {
		background-color: $var-bg-color-content;
		border-color: $var-border-color-dark;
		margin: 0 10px;
	}
	#chf_popover_c {
		.e_chfr {
			background-color: $var-bg-color-content;
		}
	}
}

// LAST VOICES
#gv_popover_c {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 400px !important;
	.wl_line {
		margin: 0 20px 0 10px;
		width: auto !important;
		.lv_text {
			padding-right: 20px;
			width: auto;
		}
		.wl_stats {
			right: 0;
		}
	}
	.wl_line_f { // last line with hep
		box-sizing: border-box;
		width: 100%;
	}
}

// FIGHT HISTORY
#lf_popover_c {
	overflow: hidden;
}


