#main_wrapper {
	padding-top: 0;
}

#hero_block {
	font-size: 1.04em;
	margin-top: 40px;

	.w_handle { // arrows for change center block size
		width: 14px;
		&:hover {
			color: $var-link-color-hover;
		}
		&.wh5c {
			margin: 0;
		}
	}

	.group_wrapper { // vertical groups
		margin: 0 2px 0 2px;
	}

	.block {
		.l_slot {
			left: 6px;
		}
	}

	// BLOCK HEADERS
	.block_title {
		border-bottom: 1px solid $var-border-color;
		color: $var-hl-color;
		font-weight: 500;
		padding-bottom: 4px;
		width: auto;
	}

	// EQUIPMENT
	#equipment {
		.eq_capt {
			font-weight: 500;
		}
	}

	// DIARY
	#diary {
		padding-left: 0;
		padding-right: 0;
		.block_title {
			border-bottom: 1px solid $var-diary-color;
			margin: 0 20px 0 25px;
		}
		.block_content {
			.line {
				border-bottom: 1px solid $var-border-color-dark;
				.m_infl {
					color: $var-hl-color;
					text-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
				}
				&:last-child {
					border-bottom: none;
				}
				.vote_links_b a {
					font-weight: bold;
					padding: 0 4px;
				}
			}
		}
	}

	// HERO BLOCK
	#stats {
		.block_title {
			border-bottom: 1px solid $var-health-color;
		}
		.l_capt { // line name (left cols)
			font-weight: 500;
		}
		.q_name { // quest name
			padding-bottom: 6px;
		}
	}

	// PRANA AND CONTROL
	#control {
		.block_title {
			border-bottom: 1px solid $var-prana-color;
		}
		.gp_label {
			font-weight: 500;
		}
		.p_bar .p_val {
			background-color: $var-prana-color;
		}
		// PRANA COUNTER BLOCKS
		.ch_f {
			color: $var-link-color-hover;
		}
		.acc_val {
			font-weight: 500;
		}
		#godvoice {
			line-height: 21px;
		}
	}
	#a_central_block, #central_block {
		#godvoice {
			line-height: 16px !important;
			margin-top: 5px;
			&:placeholder-shown {
				height: 28px !important;
			}
		}
	}

	// NEW AND ENEMY
	#news {
		.block_title {
			border-bottom: 1px solid $var-news-color;
			margin: 0 20px;
		}
	}

	// INVENTORY
	#inventory {
		.block_title {
			border-bottom: 1px solid $var-inventory-color;
		}
		.inv_block ul {
			padding-left: 0.5em;
			li {
				line-height: 1.3;
				list-style: none;
				margin: 7px 0;
			}
		}
	}

	// PANTHEONS
	#pantheons {
		.p_group_sep {
			border-color: $var-border-color-dark;
		}
	}

	#hint_bar { // info popup
		background: $var-bg-color-content;
		border-color: $var-border-color;
		border-radius: 0;
		color: $var-font-color;
	}

	.widget-placeholder { // placeholder for moving block
		border: 2px dashed $var-border-color;
		height: 20px;
	}
}
