#main {
	#content { // blogs list
		padding-top: 40px;
	}
	> #post_content { // one entry
		padding-top: 80px;
	}
}

#page {
	margin-top: 30px;
	padding-top: 20px;
}

// blog list
.one_post, #post_content {
	.post_text {
		background-color: $var-bg-color-content;
		border-color: $var-border-color;
		border-radius: 0;
		color: $var-font-color;
	}
}

// one post
.comment_block {
	background-color: $var-bg-color-content;
	border-color: $var-border-color;
	color: $var-font-color;
}

#new_comment_form {
	background-color: $var-bg-color-content;
	border-color: $var-border-color;
	color: $var-font-color;
}
