// CHAT
.msgDockWrapper {
	.msgDock {
		background: $var-bg-color-content;
		border: 1px solid $var-border-color;
		border-radius: 0;
		border-top-color: $var-hl-color;
		box-sizing: border-box;
		color: $var-font-color-low;
		height: 29px;
		line-height: 25px;
		padding: 0;
		&.frbutton_m_pressed {
			border-top: 1px solid transparent;
		}
		&.frbutton_pressed {
			color: $var-hl-color;
		}

		.gc_new_badge { // new messages informer
			background-color: $var-bg-color-light;
			border-radius: 0;
			color: $var-font-color;
			font-size: 14px;
			font-weight: normal;
			height: 25px;
			line-height: 29px;
			position: absolute;
			right: -1px;
			top: -1px;
			width: 29px;
			z-index: 400;
		}
	}
	.chat_ph .msgDock {
		margin-right: 5px;
	}
	.msgDockPopup {
		background-color: $var-bg-color-content;
		border-left: 1px solid $var-border-color;
		border-right: 1px solid $var-border-color;
		border-top: 1px solid $var-border-color;
		box-sizing: border-box;
		color: $var-font-color;
		margin-bottom: 3px;
		.msgDockPopupW { // friends list
			background-color: $var-bg-color-dark;
			border-bottom: 1px solid $var-border-color;
			.frline { // chat list items
				border-bottom: 1px solid $var-border-color-dark;
				border-top: none;
				color: $var-font-color-low;
				margin: 0 10px;
				&.frline_a { // active
					background-color: $var-bg-color-dark;
					color: $var-link-color-hover;
					.frname {
						color: $var-hl-color;
					}
					&:hover {
						background-color: $var-bg-color-dark;
					}
				}
				.frmsg_o { // out message
					color: $var-font-color-low;
				}
				.frmsg_i { // in message
					color: $var-font-color;
				}
				.frname {
					transition: color ease 250ms;
				}
				&:hover {
					background-color: $var-bg-color-dark;
					.frname {
						color: $var-link-color-hover;
					}
				}
			}
		}
		.fsearchbar {
			background-color: $var-bg-color-content;
			border: none;
			&:hover {
				background-color: $var-bg-color-content;
			}
		}
		.frlist_right {
			background-color: transparent;
		}
		#fr_cnt { // friends count
			border-top: none;
		}
		.fr_line_top { // open guildchat button
			background-color: $var-bg-color-content;
			border: none;
			display: block !important;
			&:hover {
				background: $var-bg-color-content;
			}
		}
	}
	.frMsgBlock {
		background-color: $var-bg-color;
		border-color: $var-border-color;
		width: 430px !important;
		.fr_chat_header {
			background-color: $var-bg-color-light;
			color: $var-font-color;
		}
		.gc_topic { // guild chat topic
			background-color: $var-bg-color-dark;
			border-bottom: 1px solid $var-border-color;
			color: $var-font-color;
			padding-bottom: 5px;
		}
		.frInputArea {
			textarea {
				width: 420px !important;
				line-height: 25px !important;
				font-size: 14px !important;
			}
		}
		.fropts_div { // friend actions
			background-color: $var-bg-color-content;
			border: 1px solid $var-border-color;
			color: $var-font-color;
			.frline {
				border-color: $var-border-color;
				margin: 0 15px;
				padding-top: 0;
				&:hover {
					background-color: $var-bg-color-content;
					color: $var-link-color-hover;
				}
				&:first-child {
					border-top: none;
				}
				&.fr_opts_spacer {
					background-color: transparent;
					height: 40px;
				}
			}
		}
		.frMsgArea {
			.fr_msg_l {
				background: $var-bg-color-content;
				border-top: 1px solid $var-border-color-dark;
				color: $var-font-color;
				font-size: 110%;
				line-height: 1.3;
				padding: 10px 0 15px 10px;
				&:nth-child(2n) {
					background: darken($var-bg-color-content, 2%);
				}
				&.m_infl { // private message in chat
					color: $var-hl-color;
					text-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
				}
				&.fr_msg_l_my { // my messages
					background: $var-bg-color-dark;
					color: $var-font-color-low;
					padding-right: 20px;
				}
				.fr_msg_delete {
					background-color: transparent;
					top: 0;
				}
				.fr_msg_meta {
					background-color: transparent;
					top: 0;
					.gc_fr_bg {
						background-color: transparent;
						color: $var-font-color;
						line-height: 13px;
						&:hover {
							color: $var-link-color-hover;
						}
					}
				}
			}
		}
	}
}
