#arena_block {
	#left_block, #central_block, #right_block {
		background: transparent;
	}
	.box {
		background: transparent;
		border-color: transparent;
		.block_h {
			color: $var-hl-color;
			margin: 2px 0;
		}
		.infl {
			color: $var-hl-color;
			text-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
		}
		.opp_infl {
			color: red;
		}
		.new_line {
			background: transparent;
			border-bottom-color: $var-border-color-dark !important;
			border-bottom-style: solid !important;
			border-bottom-width: 0;
			margin-left: 15px;
			margin-right: 15px;
			transition: background 0.3s linear 0s;
			&.ct { // highlight line in log
				border: 0;
				transform: none;
			}
			&.ctbg { // highlight line in log
				background: $var-bg-color-light;
			}
		}
	}

	.rpl {
		@extend .block;
		padding-top: 0;
		z-index: 200;
		span {
			color: $var-font-color;
		}
	}

	#dmap {
		width: auto;
	}
}

// #m_fight_log {

// }

#arena_columns {
	#a_central_block {
		.d_line {
			margin: 0 10px;
			&.opp_infl .d_msg {
				color: red;
			}
		}
		.turn_separator {
			border-bottom: 1px solid $var-border-color-dark;
		}
		.m_infl {
			color: $var-hl-color;
			text-shadow: 0 0 15px rgba(255, 255, 255, 0.6) !important;
		}
	}
	#alls {
		.opp_n span {
			white-space: nowrap !important;
		}
	}

	// BLOCK HEADERS
	.block_title {
		border-bottom: 1px solid $var-border-color;
		color: $var-hl-color;
		font-weight: 500;
		padding-bottom: 4px;
	}

	// PRANA AND CONTROL
	#m_control {
		.block_title {
			border-bottom: 1px solid $var-prana-color;
			margin: 0 20px 0 25px;
		}
		.gp_label {
			font-weight: 500;
		}

		// PRANA COUNTER BLOCKS
		.ch_f {
			color: $var-link-color-hover;
		}
		.acc_val {
			font-weight: 500;
		}
		#godvoice {
			line-height: 21px;
		}
	}
	#m_fight_log {
		.block_title {
			border-bottom: 1px solid $var-diary-color;
			margin: 0 20px 0 25px;
		}
	}
	#m_info {
		.block_title {
			border-bottom: 1px solid $var-health-color;
		}
	}
	#m_inventory {
		.block_title {
			border-bottom: 1px solid $var-inventory-color;
		}
	}
}

#arena_columns { // dungeon map
	div:not(#a_central_block) {
		#map {
			width: min-content;
		}
	}
	#map {
		overflow: visible;
		div {
			overflow: visible !important;
		}
		.dml {
			.dmc { // map cell
				background-color: $var-bg-color-content;
				border-color: $var-bg-color-light;
				opacity: .7;
				&.dmw { // wall cell
					background-color: $var-bg-color-light;
					opacity: 1;
				}
				&[title=""] { // ? cell and can move
					background-color: $var-bg-color-dark;
					opacity: 1;
				}
				&.dmh { // heroes cell
					background-color: $var-prana-color;
					opacity: 1;
				}
			}
		}
	}
}

#hero2 { // history dungeon map
	.block {
		width: min-content;
		#dmap {
			overflow: visible;
			width: min-content;
			.dml {
				.dmc { // map cell
					border-color: $var-bg-color-light;
					opacity: .7;
					&.dmw { // wall cell
						background-color: $var-bg-color-light;
						opacity: 1;
					}
					&.dmv { // known cell
						background-color: $var-bg-color-dark;
						opacity: 1;
					}
					&.dmh { // heroes cell
						background-color: $var-prana-color;
						opacity: 1;
					}
				}
			}
		}
	}
	#hero2_info .block, #hero2_stats .block, #hero2_inventory .block {
		width: auto !important;
	}
}

// popup in party
.opp_p_content {
	min-width: 270px;
}
