#content {
	background-color: $var-bg-color;
	padding-top: 40px;
	table {
		font-family: $var-font-family, sans-serif;
		&.posts, &.forums, &.topics {
			border: 1px solid $var-border-color;
			margin-bottom: 10px;
			font-size: 1.10em;
			th {
				background-color: $var-bg-color-light;
				border-left: none;
				border-right: none;
				color: $var-hl-color;
			}
			td {
				background-color: $var-bg-color-content;
				border-top-color: $var-bg-color-light;
				border-right: none transparent;
				border-bottom-color: $var-bg-color-light;
				border-left: none transparent;
				color: $var-font-color;
				&.inv {
					background-color: $var-bg-color-content;
				}
				&.c1 img {
					border-radius: 50%;
				}
			}
		}
	}
	table.posts {
		border: 1px solid $var-border-color;
		.spacer td {
			padding: 0;
		}
		.post {
			border: none;
			border-bottom: 1px solid $var-border-color;
			.author, .body {
				background-color: $var-bg-color-content;
				border: none;
				padding-bottom: 10px;
				line-height: 1.6;
			}
			.topic {
				background-color: $var-bg-color-content;
			}
		}
	}
	table.topics {
		.follow, .unfollow {
			float: right;
			margin: 0 3px;
		}
	}
	#not_found, #search_hints {
		background-color: $var-bg-color-content;
		border-color: transparent;
		color: $var-font-color;
	}
	.popup_menu {
		background-color: $var-bg-color-light;
		border-color: $var-border-color;
		li {
			border-color: transparent;
		}
	}
}

.f_preview {
	border-radius: 0;
	color: $var-bg-color;
	filter: invert(1); // preview has white text, invert it
	font: inherit;
	pre, blockquote { // double invert for color normalisation
		filter: invert(1);
		color: $var-font-color;
	}
}

#reply {
	background-color: $var-bg-color-content;
	border-color: $var-border-color;
	color: $var-font-color;
}
