// scrollbars
::-webkit-scrollbar {
	background: $var-bg-color;
	border: 3px solid $var-bg-color-content;
	height: 12px;
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: $var-border-color;
	border-radius: 0;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

* {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	transition: opacity ease 350ms 100ms;
}

html {
	background-color: $var-bg-color;
	font-family: $var-font-family, sans-serif !important;
	body {
		animation-delay: 350ms;
		animation-duration: 100ms;
		animation-iteration-count: 1;
		animation-name: smooth-show;
		background: radial-gradient($var-bg-color 60%, $var-bg-color-content 110%);
		color: $var-font-color;
		font-family: $var-font-family, sans-serif !important;
		line-height: 1.3333;
		opacity: 1;
		overflow-y: scroll !important;
		animation-fill-mode: forwards;
	}
}

@keyframes smooth-show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

// link colors
a, a:visited, a:link, .div_link, .div_link_nu {
	color: $var-link-color !important;
	text-decoration: none;
	transition: color ease 250ms;
	&:hover {
		color: $var-link-color-hover !important;
		text-decoration: none;
	}
}

b, strong {
	font-weight: 500;
}

p {
	font-family: $var-font-family, sans-serif !important;
}

code {
	font-family: $var-font-family, monospace !important;
}

// INPUTS
input, textarea {
	background-color: $var-bg-color-light !important;
	border: 1px solid $var-border-color !important;
	border-radius: 0 !important;
	color: $var-font-color !important;
	font-family: $var-font-family !important;
	transition: height ease 250ms;
}

// BUTTONS
input[type="submit"] {
	background-color: $var-bg-color-light !important;
	border: 1px solid $var-border-color;
	color: $var-font-color;
	cursor: pointer;
	padding: 5px 10px;
	transition: opacity ease 250ms,
	border ease 250ms,
	color ease 250ms;
	&:disabled {
		cursor: default;
		opacity: .4;
		&:hover {
			border: 1px solid $var-border-color !important;
			color: $var-font-color !important;
		}
	}
	&:hover {
		border: 1px solid $var-link-color-hover !important;
		color: $var-link-color-hover !important;
	}
}

select {
	background-color: $var-bg-color-light !important;
	border-color: $var-border-color !important;
	color: $var-font-color !important;
}

h3, h2 {
	color: $var-hl-color !important;
	font-weight: 500;
}

pre {
	background-color: $var-bg-color-dark !important;
	border-color: $var-border-color !important;;
	border-right: 1px solid !important;;
}

blockquote {
	background-color: #2f3129 !important;;
	border-bottom-color: transparent !important;;
	border-top-color: transparent !important;;
}

#menu_bar {
	background-color: $var-bg-color-content;
	border-bottom: 1px solid $var-border-color;
	font-size: 100% !important;
	left: 0;
	padding: 8px 0;
	position: absolute;
	top: 0;
	white-space: nowrap;
	width: 100%;
}

#footer {
	.columns {
		border-top: none;
		#menu_bar {
			background: none;
		}
	}
	p {
		padding-top: 2.5em !important;
	}
}

.t_award_small {
	border-radius: 0;
	margin: 0 5px;
}

.block {
	background: linear-gradient($var-bg-color-content 50%, $var-bg-color 300%) !important;
	border: 1px solid $var-border-color;
	border-radius: 0 !important;
	color: $var-font-color;
	margin: 10px 0 0 0;
	overflow: hidden;
	padding-top: 10px;
}

#gradient {
	stop[offset="0.02"] { // from
		stop-color: $var-bg-color-light !important;
	}
	stop[offset="0"] { // to
		stop-color: transparent !important;
		stop-opacity: 0;
	}
}

div.p_bar, .pr_bg { // progress bars
	background-color: $var-bg-color-light;
	border: none;
	border-radius: 0 !important;
	display: inline-block;
	float: none;
	outline: $var-border-color 1px solid;
	&:before, &:after {
		background-color: $var-font-color !important;
	}
	div.p_val {
		border-radius: 0 !important;
	}
}

.pr_bg {
	height: 8px !important;
	border: none;
	.pr_bar {
		background-color: $var-bg-color-light;
		height: 8px !important;
		outline: $var-border-color 1px solid;
	}
}

.spinner_img { // loading icon
	background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='lds-spinner' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Crect x='46' y='22.5' width='8' height='15' fill='%23888'%3E%3Canimate attributeName='opacity' values='1;0' dur='0.4s' begin='-0.3333333333333333s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect x='46' y='22.5' width='8' height='15' transform='rotate%2860 50 50%29' fill='%23888'%3E%3Canimate attributeName='opacity' values='1;0' dur='0.4s' begin='-0.26666666666666666s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect x='46' y='22.5' width='8' height='15' transform='rotate%28120 50 50%29' fill='%23888'%3E%3Canimate attributeName='opacity' values='1;0' dur='0.4s' begin='-0.20000000000000004s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect x='46' y='22.5' width='8' height='15' transform='rotate%28180 50 50%29' fill='%23888'%3E%3Canimate attributeName='opacity' values='1;0' dur='0.4s' begin='-0.13333333333333333s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect x='46' y='22.5' width='8' height='15' transform='rotate%28240 50 50%29' fill='%23888'%3E%3Canimate attributeName='opacity' values='1;0' dur='0.4s' begin='-0.06666666666666667s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect x='46' y='22.5' width='8' height='15' transform='rotate%28300 50 50%29' fill='%23888'%3E%3Canimate attributeName='opacity' values='1;0' dur='0.4s' begin='0s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/svg%3E") center center no-repeat !important;
	transform: scale(1.5);
}

.fr_new_badge {
	background-color: $var-bg-color-dark;
	border: 1px solid $var-border-color;
	color: $var-font-color;
}
