#header {
	border: none;
	padding-top: 30px;
}

.b_list li {
	background: none;
	list-style: disc inside;
}

.label {
	color: $var-font-color;
}

#essential_info .level, #column_2 .value {
	color: $var-hl-color;
}

#hero_top, .panth_div, #chronicle_header, #chronicle {
	border-color: $var-border-color-dark;
}

#content {
	background-color: transparent;
}

#chronicle {
	.post_text {
		background-color: $var-bg-color-content;
		color: $var-font-color;
		padding: 20px;
	}
}
