#header.container {
	padding-top: 40px;
	h1 {
		color: $var-hl-color;
	}
	table td {
		color: $var-font-color;
	}
	table#g_tbl {
		border: 1px solid $var-border-color;
		border-radius: 0;
		th {
			background: $var-bg-color-light;
			border-color: $var-border-color;
			border-left: none;
			border-radius: 0;
			border-right: none;
			color: $var-hl-color;
		}
		tr {
			background-color: $var-bg-color-content;
			td {
				border-color: $var-border-color;
				border-left: none;
				border-radius: 0;
				border-right: none;
				vertical-align: middle;
				.t_award_small, .t_award_w {
					float: right;
					height: 19px;
					margin: 0;
					.t_award_bgx {
						margin: 0;
						padding-top: 0;
					}
				}
			}
			&:nth-child(2n) {
				background-color: $var-bg-color-dark;
			}
			&.my_row {
				background-color: $var-bg-color-light;
				td {
					color: $var-hl-color;
				}
			}
		}
	}
}

// guild_control
.gc {
	margin-top: 40px;
	table.g_tbl {
		border: 1px solid $var-border-color;
		border-radius: 0;
		th {
			background: $var-bg-color-light;
			border-color: $var-border-color;
			border-left: none;
			border-radius: 0;
			border-right: none;
			color: $var-hl-color;
		}
		tr {
			background-color: $var-bg-color-content;
			td {
				border-color: $var-border-color;
				border-left: none;
				border-radius: 0;
				border-right: none;
				color: $var-font-color;
				vertical-align: middle;
			}
			&:nth-child(2n) {
				background-color: $var-bg-color-dark;
			}
		}
	}
}

.gc_intro {
	.t_guild_opts_c {
		tr {
			border-bottom: 1px solid $var-border-color;
			td {
				color: $var-font-color;
			}
		}
	}
	.footer {
		color: $var-font-color-low;
	}
}
