.p_block {
	margin-top: 40px;
	table {
		border: 1px solid $var-border-color;
		border-radius: 0;
		th {
			background: $var-bg-color-light;
			border-color: $var-border-color;
			border-left: none;
			border-radius: 0;
			border-right: none;
			color: $var-hl-color;
		}
		tr {
			&.c_god td {
				background-color: $var-bg-color-dark !important;
				color: $var-hl-color;
			}
			td {
				background-color: $var-bg-color-content !important;
				border-color: $var-border-color;
				border-left: none;
				border-radius: 0;
				border-right: none;
				color: $var-font-color;
				white-space: nowrap;
			}
			&:nth-child(2n) td {
				background-color: $var-bg-color-dark !important;
			}
		}

	}

}
