#index_main {
	h2 {
		border-color: $var-border-color-dark;
	}
	#b_logo_img.ru {
		background: url(https://godville.net/images/logo_godville_n_ru.png) no-repeat 0 0.4em;
	}
	#b_logo_img.en {
		background: url(https://godvillegame.com/images/logo_godville_n_en.png) no-repeat 0 0.4em;
	}
	.rate {
		h3 {
			color: $var-font-color;
		}
		p {
			color: $var-hl-color;
		}
	}
	#bgn_block td {
		background: $var-bg-color-content;
		color: $var-font-color;
	}
	.bgnk { // bingo removed
		color: $var-font-color-low;
	}
	.bgnkn { // bingo highlight
		color: $var-hl-color;
		font-weight: 500;
	}
	// crossword
	#cross_tbl_wrap {
		margin-bottom: 20px;
		transform: scale(1.1);
		.td_cell {
			background-color: transparent;
			&.known {
				background-color: $var-bg-color-light;
				color: $var-font-color;
			}
			.sym {
				background-color: $var-bg-color-content !important;
				color: $var-hl-color !important;
				height: 20px;
				left: 0;
				line-height: 20px;
				top: 0;
				width: 20px;
			}
			.num {
				color: $var-hl-color;
				font-size: 10px;
				text-shadow: none;
			}
		}
	}
}

