#pantheon_main {
	margin-top: 40px;
	.p_link_selected {
		color: $var-hl-color;
		font-weight: 500;
	}
	table {
		border: 1px solid $var-border-color;
		border-radius: 0;
		th {
			background: $var-bg-color-light;
			border-color: $var-border-color;
			border-left: none;
			border-radius: 0;
			border-right: none;
			color: $var-hl-color;
		}
		tr {
			background-color: $var-bg-color-content;
			&.my_row td {
				color: $var-hl-color;
			}
			td {
				border-color: $var-border-color;
				border-left: none;
				border-radius: 0;
				border-right: none;
				color: $var-font-color;
				white-space: nowrap;
				.t_award_small, .t_award_w {
					float: right;
					height: 19px;
					margin: 0;
					.t_award_bgx {
						margin: 0;
						padding-top: 0;
					}
				}
			}
			&:nth-child(2n) {
				background-color: $var-bg-color-dark;
			}
		}
	}
}
