// POPUP BLOCKS
.wup { // wrapper
	background: transparent;
	opacity: 0;
	transform: scale(0.8);
	transition: transform ease 350ms, opacity ease 200ms 100ms;
	width: auto !important;
	.wup-inner { // content
		background: $var-bg-color-content;
		border: 1px solid $var-border-color;
		border-radius: 0;
		.wup-title {
			background: $var-bg-color-content;
			border-bottom: 1px solid #f9b436;
			border-radius: 0;
			color: $var-hl-color;
			font-weight: 500;
			margin: 0 40px 10px;
		}
		.wup-content {
			background-color: transparent;
		}
	}
	.wup_line {
		border-color: transparent;
	}
	.wl_line {
		border-color: $var-border-color-dark;
		margin: 0 10px;
	}

	&.bottom, &.bottom-right, &.bottom-left {
		> .wup-arrow:after {
			border-bottom-color: $var-border-color;
		}
	}
	&.right, &.right-top, &.right-bottom {
		> .wup-arrow:after {
			border-right-color: $var-border-color;
		}
	}
	&.left, &.left-top, &.left-bottom {
		> .wup-arrow:after {
			border-left-color: $var-border-color;
		}
	}
	&.top, &.top-right, &.top-left {
		> .wup-arrow:after {
			border-top-color: $var-border-color;
		}
	}
	&.in {
		transform: scale(1);
	}
	&.out {
		transform: scale(0.9);
		transition: transform ease 250ms, opacity ease 200ms;
	}
}
