#n_register {
	a {
		color: $var-hl-color !important;
		&:hover {
			color: $var-hl-color !important;
		}
	}
}

#login_form {
	padding-top: 40px;
	.h_cell {
		@extend .block;
		.h_capt {
			background: none;
		}
	}
}

.tooltip {
	@extend .block;
}
