#sail_map {
	background-color: $var-bg-color-content;
	.saild_1 {
		background: #393f50 !important;
	}
	.saild_2 {
		background: #543722 !important;
	}
	.saild_3 {
		background: #2b492b !important;
	}
	.saild_4 {
		background: #22463f !important;
	}
	.tile {
		.unknown {
			polygon {
				fill: #5b5b58;
			}
			&.rb polygon {
				opacity: .38;
				fill: #e8e8e3;
			}
		}
	}
}
