// backgrounds
$var-bg-color: #ffffff;
$var-bg-color-content: #f5f5f5;
$var-bg-color-dark: darken($var-bg-color-content, 1.5%);
$var-bg-color-light: lighten($var-bg-color-content, 15%);

// borders
$var-border-color: #b9b9b9;
$var-border-color-dark: #dcdcdc;

// fonts and links
$var-font-color: #636363;
$var-font-color-low: #828282;
$var-link-color: #198ec9;
$var-link-color-hover: #32bbff;
$var-hl-color: #000000;

$var-font-family: 'Ubuntu';

// header bottom borders
$var-news-color: #f9b436;
$var-prana-color: $var-link-color;
$var-health-color: #58a60e;
$var-inventory-color: #882d17;
$var-diary-color: #ffc0cb;


@import "import";
