// backgrounds
$var-bg-color: #000000;
$var-bg-color-content: #222229;
$var-bg-color-dark: darken($var-bg-color-content, 6%);
$var-bg-color-light: lighten($var-bg-color-content, 15%);

// borders
$var-border-color: #555555;
$var-border-color-dark: #333333;

// fonts and links
$var-font-color: #bfbfbf;
$var-font-color-low: #8a8a8a;
$var-link-color: #198ec9;
$var-link-color-hover: #32bbff;
$var-hl-color: #ffffff;

$var-font-family: 'Ubuntu';

// header bottom borders
$var-news-color: #F9B436;
$var-prana-color: $var-link-color;
$var-health-color: #58A60E;
$var-inventory-color: #882D17;
$var-diary-color: #FFC0CB;

@import "import";
